.chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    color-mix(in srgb, var(--primary-color) 80%, black) 100%
  );
  height: 100vh;
  width: 100%;
}

.chat-container {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  scroll-behavior: smooth;
  max-width: 75vw;
  width: 100%;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.qa-block {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-box {
  position: relative;
  --x-bg-color: var(
    --conversation-question-bg,
    color-mix(in srgb, var(--primary-color) 2%, black 10%)
  );
  background-color: var(--x-bg-color);
  border-radius: 5px 5px 0 5px;
  padding: 9px 15px 9px 13px;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  max-width: 80%;
  margin-left: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.question-box::after { 
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 1px solid var(--x-bg-color);
  border-bottom: 2px solid var(--x-bg-color);
  border-right: 2px solid transparent;
  border-top: 1px solid transparent;
  right: -2px;
  bottom: 0;
  border-radius: 0 0 1px;
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffe747;
  font-size: 18px;
  line-height: 1.5;
  max-width: 100%;
  width: 100%;
  margin-right: auto;
}

.chat-icon {
  color: #ffe747;
  font-size: 22px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.bullet {
  color: #ffe747;
  font-size: 24px;
  padding-top: 2px;
}

.answer-text {
  white-space: pre-wrap;
}

.split-container {
  display: inline-block;
}

.char {
  display: inline-block;
  will-change: transform, opacity;
}

.space {
  display: inline-block;
  width: 0.25em;
}

@media (min-width: 768px) {
  .chat-container {
    padding: 20px 60px;
  }
}

@media (min-width: 1024px) {
  .chat-container {
    padding: 20px 150px;
  }

  .question-box {
    max-width: 80%;
  }
}
