<div class="relative h-screen w-screen overflow-hidden main-container">
  @if (isLoading()) {
  <app-loader></app-loader>
  } @else { @if (showInfo()) {
  <app-info
    class="absolute top-0 left-0 w-auto h-auto"
    [ngClass]="{
      'slide-in-right': transitioning() && enteringView() === 'info'
    }" 
    [ngStyle]="{
          'z-index': enteringView() === 'info' ? 20 : 10
        }"
    [assistantData]="assistantData()"
  ></app-info>
  } @if (showChat()) {
  <app-chat
    class="absolute top-0 left-0 w-full h-full"
    [ngClass]="{
      'slide-in-right': transitioning() && enteringView() === 'chat'
    }" 
    [ngStyle]="{
          'z-index': enteringView() === 'chat' ? 20 : 10
        }"
    [assistantData]="assistantData()"
  ></app-chat>
  } } @if (showGlobalTimer()) {
  <app-timer
    class="fixed bottom-4 right-4 w-[40px] h-[40px] z-50"
    (timerCompleted)="onGlobalTimerCompleted()"
  />
  }
</div>
