@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff004c;
  --secondary-color: #ffe747;
  --logo-name-color: #fff;
  --conversation-question-bg: #fff;
  --font-helvetica: helvetica, sans-serif;
}
